@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
body {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    padding-top: 78px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: .1s ease;
    color: #3b3b3b;
    letter-spacing: 2px;
}
h3 {
    font-size: 25px;
    color: #3b3b3b;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
}
a:hover {
    color: #c3c3c3;
}
.content-wrap {
    padding: 5px 20px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    background: white;
    transition: .3s ease;
    box-shadow: 0 2px 3px #3b3b3b13;


    .header-top-link {
        background-color: #000;
        height: 26px;
        line-height: 26px;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 10px;
            letter-spacing: 2px;
            display: block;
        }
    }   

    .header-main {
        

        .header-main-first-screen {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .head-nav, .head-actions {
                width: calc(50% - 60px);
                display: flex;
            }
            .head-nav {
                justify-content: flex-start;
            }
            .head-actions {
                justify-content: flex-end;
            }
    
            .head-nav {
                #menu-header-menu {
                    padding: 0;
                    margin: 0;
                    li {
                        display: inline-block;
                        a {
                            text-decoration: none;
                            color: #3b3b3b;
                            text-transform: uppercase;
                            font-size: 13px;
                            padding: 0 15px;                      
    
                            &:hover {
                                color: #c3c3c3;
                            }
                        }
                    }
                }
            }
    
            .head-logo {
                width: 100px;
                a {
                    outline: none;
                }
                img {
                    width: 100%;
                }
            }
            
            .head-actions {
                a {
                    margin: 10px;
                    color: #3b3b3b;
                    font-size: 13px;
                    text-transform: uppercase;
                    
                    &:hover {
                        color: #c3c3c3;
                    }
                }
            }
        }   
        
        .header-main-second-screen {
            display: none;
            height: 50px;
            justify-content: center;
            align-items: center;

            .head-search {
                width: 70%;
                .head-search-form {
                    display: flex;
                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        color: #504e4e;
                        letter-spacing: 1px;
                        border-bottom: 1px solid #e6e5e5;
                        margin-right: 20px;
                    }
                }

                .head-search-close {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    width: 20px;
                    height: 20px;
                    &::before{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 50%;
                        width: 1px;
                        height: 100%;
                        background-color: #bfbcbc;
                        transform: rotate(45deg);
                    }
                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: #bfbcbc;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

main {
    nav.woocommerce-breadcrumb {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        a:hover {
            text-decoration: none;
            color: #e61446;
        }
    }
    section.first-section-slider {
        .slider-wrapper {
            width: 100%;
            a {
                display: block;
                outline: none;
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    section.products-categories {
        display: flex;
        padding: 30px 0;
        
        .product-category {
            width: 25%;
            margin-right: 6px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
            .product-category-link {
                display: block;
                margin-bottom: 20px;                
                img {
                    width: 100%;
                    opacity: 1;
                    transition: .1s ease;
                    &:hover {
                        opacity: .5;
                    }
                }
            }

            .product-category-bottom-link {
                text-align: center;
                padding: 20px 0;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }

    section.shop-lookbook {
        margin: 20px 0 30px 0;
        a {
            text-transform: uppercase;
            // letter-spacing: normal;
            font-size: 13px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    section.single-image-category {
        .single-image-category-wrap {
            img {width: 100%;}
        }
    }

    section.rules-for-design {
        display: flex;

        .rules-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            text-align: center;
            background-color: #464646;
            h3 {
                text-transform: uppercase;
                font-size: 40px;
                font-weight: normal;
                letter-spacing: 2px;
                color: #fff;
                margin: 0 0 20px 0;
                
            }
            p {
                max-width: 500px;
                color: #fff;
            }
        }

        .rules-img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    section.follow-us {
        margin: 50px 0;
        text-align: center;
        h3 {
            margin: 40px 0;
        }
        p {
            color: #3b3b3b;
            font-size: 12px;
            letter-spacing: 1.2px;
            margin-bottom: 25px;
        }

        .follow-us-slider {
            width: 100%;
            .follow-us-slider-item {
                margin-right: 5px;
                a {
                    display: block;
                    outline: none;

                    img {width: 100%;}
                }
            }
        }
    }
    .category-image {
        img {
            width: 100%;
        }
    }

    .products {
        margin-bottom: 30px;
        .toolbar-top-container {
            padding: 35px 0;
            
            .amount-per-page {
                position: relative;
                select {
                    font-size: 11px;
                    cursor: pointer;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    outline: none;
                    padding: 5px;
                    border: none;
                    option {
                        text-transform: uppercase;
                    }
                }
                .arrow-down {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    pointer-events: none;
                    background-color: #fff;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 14px;
                        right: 10px;
                        width: 8px;
                        height: 1px;
                        background-color: #b3b0a8;
                        transform: rotate(45deg);
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        top: 14px;
                        right: 4px;
                        width: 8px;
                        height: 1px;
                        background-color: #b3b0a8;
                        transform: rotate(135deg);
                    }
                }
            }
        }

        .product {
            position: relative;
            padding: 0 10px;
            text-align: center;
            margin-bottom: 50px;

            .product-image-wrap {
                position: relative;
                border: 1px solid #e6dfd1;
                transition: .1s ease;
                filter: brightness(80%);
                margin-bottom: 20px;
                img {
                    cursor: pointer;
                    width: 100%;
                    height: auto;
                }
                img.second-image {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                }
                &:hover {
                    opacity: .9;
                    img.second-image {
                        visibility: visible;
                    }
                }                
            }
            .product-title {
                letter-spacing: 1px;
                font-size: 12px;
                margin-bottom: 5px;
                display: block;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                }
            }
            .woocommerce-LoopProduct-link {
                &:hover {
                    text-decoration: none;
                }
                p.price {
                   span {
                       font-size: 12px;
                       letter-spacing: 1px;
                       &:hover {
                           text-decoration: none;
                           border: none;
                       }
                   }
               }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;

    .footer-links {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        
        p {
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 2px;
        }

        .footer-links-list {
            list-style-type: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                a {
                    font-size: 9px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }   
        }

        .footer-email {
            text-align: right;
            p {
                font-size: 11px;
                text-transform: none;
                margin-bottom: 5px;
                letter-spacing: normal;
            }
            input {
                display: block;
                width: 100%;
                padding: 5px;
                color: #3b3b3b;
                outline: none;
                margin-bottom: 10px;
                box-sizing: border-box;
            }
            button {
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 30px;
                background-color: #3b3b3b;
                color: #fff;
                letter-spacing: 1.2px;
                transition: .1s ease;
                &:hover {
                    background-color: #504e4e;
                }
            }
        }
    }

    .footer-privacy {
        ul {
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                border-right: 1px solid #e2e1e1;
                font-size: 9px;
                letter-spacing: 2px;
                padding: 0 10px;
                text-transform: uppercase;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    
}